<div class="container">
  <img id="myFace" src="./../../assets/imgs/53812.jpeg">
  <h4>Alexander Joseph Xavier Bunnell</h4>
  <hr>
  <div class="card">
    <h3>LinkedIn</h3>
    <h3><a href="https://www.linkedin.com/in/alexander-bunnell-62157863/"><i class="fa fa-linkedin-square"></i></a></h3>
    <h3>GitHub</h3>
    <h3><a href="https://github.com/thacheshirecat"><i class="fa fa-github"></i></a></h3>
    <h3>Resume</h3>
    <h3><a href="https://gist.github.com/thacheshirecat/5210605b0df9a58f2a0ee728323ba1bc"><i class="fa fa-file-text-o"></i></a></h3>
  </div>
</div>
